<div class="page-header">
<%= link_to 'Cancel', employees_path, :class=>"btn btn-default pull-right" %>
<%= link_to 'Show', @employee, :class=>"btn btn-default pull-right" %>
<h1>Editing Employee</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
