



<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">



  <div class="col-xs-1">
    <div class="field">
       <%= f.label :rac %><br>
   <%# <%= f.text_field :eventSource %>
   <%= f.select(:rac, Event.racSelection) %>
   
    </div>
  </div>
  
 <div class="col-xs-3">
    <div class="field">
       <%= f.label :date %><br>
       <%= f.date_select :date %>
    </div>
  </div>

 <div class="col-xs-2">
    <div class="field">
       <%=f.label :company_id, 'Company Name' %><br>
       <%=f.collection_select(:company_id, Company.all, :id, :name, prompt: true) %>
    </div>
  </div>

  <div class="col-xs-2">
     <div class="field">
       <%= f.label :Employee, 'Responsible party' %><br>
       <%#<%= f.text_field :responsibleParty %>
       <%=f.collection_select(:employee_id, Employee.all.order('fName, lName'), :id, :to_s , prompt: true) %>
     </div>
  </div>

  <div class="col-xs-2">
     <div class="field">
       <%= f.label :issuer, 'Second responsible' %><br>
       <%#<%= f.text_field :responsibleParty %>
       <%=f.collection_select(:issuer, Employee.all.order('fName, lName'), :id, :to_s , prompt: true) %>
     </div>
  </div>

    <div class="col-xs-2">
     <div class="form-group">
       <%= f.label :refAuthority, 'Reference Authority' %><br>
    <%= f.text_field :refAuthority, :class=>"form-control" %>
     </div>
  </div>

</div>  <%# end first row %>

<div class="row">&nbsp;</div> 

<div class="row">


 <div class="col-xs-2 col-xs-offset-1">
    <div class="field">
       <%= f.label :eventSource, 'Source of event' %><br>
   <%# <%= f.text_field :eventSource %>
    <%= f.select(:eventSource, Event.eventSourceSelection) %>
    </div>
  </div>

  <div class="col-xs-1">
    <div class="form-group">
       <%= f.label :status %><br>
    <%= f.select(:status, Event.statusSelection) %>
    </div>
  </div>
  
  

 <div class="col-xs-3">
    <div class="form-group">
       <%= f.label :deficiency %><br>
       <%= f.text_area :deficiency, :class=>"form-control" %>
    </div>
  </div>

  
  <div class="col-xs-3">
     <div class="form-group">
       <%= f.label :correctiveAction, 'Corrective Action' %><br>
       <%= f.text_area :correctiveAction, :class=>"form-control" %>
     </div>
  </div>

  <div class="col-xs-2">
     <div class="form-group">
       <%= f.label :affectedArea, 'Affected area' %><br>
       <%= f.text_field :affectedArea, :class=>"form-control" %>
     </div>
  </div>





  

</div>  <%# end second row %>

<div class="row">&nbsp;</div> 

<div class="row">
 

  <%# <div class="col-xs-2"></div> %>
  
  
  

 




<div class="col-xs-3 col-xs-offset-1">
   <div class="form-group">
    <%= f.label :targetDate, 'Target completion date' %><br>
           <%= f.date_select :targetDate %>
  </div>
 </div>




<div class="col-xs-3">
   <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :class=>"form-control" %>
  </div>
 </div>

   <div class="col-xs-2">
     <div class="form-group">
       <%= f.label :cost, 'Abatement cost' %><br>
    <%= f.text_field :cost, :class=>"form-control" %>
     </div>
  </div>

  <div class="col-xs-3">
   <div class="form-group">
    <%= f.label :closedDate, 'Actual completion date' %><br>
           <%= f.date_select :closedDate %>
  </div>
 </div>

 </div>  <%# end third row %>
  
<br/><br/>
 <div class="row">
 <div class="col-xs-2 col-xs-offset-5">
  
  <div class="actions">
    <%= f.submit 'Create', :class =>"btn-sm btn-success"%>
  </div>
  </div>
  </div>

<% end %>
