<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Responsibleparty</th>
      <th>Issuer</th>
      <th>Deficiency</th>
      <th>Affectedarea</th>
      <th>Eventsource</th>
      <th>Status</th>
      <th>Cost</th>
      <th>Notes</th>
      <th>Employee</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.company %></td>
        <td><%= event.responsibleParty %></td>
        <td><%= event.issuer %></td>
        <td><%= event.deficiency %></td>
        <td><%= event.affectedArea %></td>
        <td><%= event.eventSource %></td>
        <td><%= event.status %></td>
        <td><%= event.cost %></td>
        <td><%= event.notes %></td>
        <td><%= event.employee_id %></td>
        <td><%= event.company_id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>






<div class="field">
    <%= f.label :issuer %><br>
    <%# <%= f.text_field :issuer %>
    <%= f.collection_select(:issuer, Employee.all, :lName, :lName) %>
  </div>


  <div class="field">
    <%= f.label :company %><br>
   <%# <%= f.text_field :company %>  
    <%= f.collection_select(:company, Company.all, :name, :name) %>
  </div>