<p id="notice"><%= notice %></p>
<div class="page-header">
<%= link_to 'Cancel', events_path, :class=>"btn btn-default pull-right" %>

<h2>Event ID:  <%= @event.id %></h2>
</div>
<div class="row">
 <div class="col-xs-4 col-xs-offset-1">
    <div class="field">
       <strong>Date:</strong>
       <%= @event.date %>
    </div>
  </div>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @event.company.name %>
</p>

<p>
  <strong>Responsibleparty:</strong>
  <%= @event.employee.fName %> <%= @event.employee.lName %>
</p>

<p>
  <strong>Issuer:</strong>
  <% x = @event.issuer %>
  
  <% a = Employee.find(x) %>
  <%= a.fName %> <%= a.lName %>

</p>

<p>
  <strong>Deficiency:</strong>
  <%= @event.deficiency %>
</p>

<p>
  <strong>Affectedarea:</strong>
  <%= @event.affectedArea %>
</p>

<p>
  <strong>Eventsource:</strong>
  <%= @event.eventSource %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
